.skiplink {
  @apply absolute left-0 z-modal -translate-y-full bg-focus p-4 text-text-inverted no-underline focus-within:translate-y-0 focus-within:shadow-[inset_0_0_0_2px_white] focus-within:outline-none;
}

.inline-code {
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(226 232 240);
  padding: 0.125rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.inline-kbd {
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  padding: 0.125rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 0 0 1px rgb(38, 38, 38);
  @apply text-text;
}
