@tailwind components;
@tailwind utilities;

@layer components {
  .section--small {
    @apply mb-7;
  }

  .section--large {
    @apply mb-12;
  }

  .icon-search__textfield > .navds-text-field__input {
    @apply pl-11;
  }

  .card {
    @apply relative flex w-[18rem] flex-col rounded bg-canvas-background-light p-4 pt-8 text-text shadow-card focus-within:shadow-focus focus-within:outline-none hover:shadow-[0_0_0_2px_var(--navds-semantic-color-link)] active:text-link md:p-8 md:pt-12;
  }

  .sandbox-editor > div {
    @apply max-w-full overflow-x-auto !font-mono text-text-inverted;
  }

  .sandbox-editor textarea:focus-visible {
    outline-color: 1px solid
      var(--navds-semantic-color-component-background-inverted);
  }

  .sandbox-preview > div:first-child {
    @apply inline-flex w-full flex-wrap items-center justify-center gap-4;
  }

  .sandbox-preview > pre {
    @apply max-w-full whitespace-pre-wrap font-mono;
  }

  .skiplink {
    @apply absolute left-0 z-modal -translate-y-full bg-focus p-4 text-text-inverted no-underline transition-transform focus-within:translate-y-0 focus-within:shadow-[inset_0_0_0_2px_white] focus-within:outline-none;
  }

  .img-wrapper img {
    object-fit: contain;
    width: 100% !important;
    height: unset !important;
  }

  .img-wrapper > div {
    position: unset !important;
  }

  .table-icon svg {
    vertical-align: middle;
    margin: 0 0.25rem 3px 0.25rem;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .navds-body-long.navds-typo--spacing + .list-margin {
    @apply -mt-6;
  }

  .relative-parent + .relative-child {
    @apply -mt-8;
  }
}
