.section--small {
  @apply mb-7;
}

.section--large {
  @apply mb-12;
}

.icon-search__textfield > .navds-text-field__input {
  @apply pl-11;
}

.card {
  @apply relative flex w-[18rem] flex-col rounded bg-canvas-background-light p-4 pt-8 text-text shadow-card focus-within:shadow-focus focus-within:outline-none hover:shadow-[0_0_0_2px_var(--navds-semantic-color-link)] active:text-link xs:p-8 xs:pt-12;
}

.sandbox-editor > div {
  @apply max-w-full overflow-x-auto !font-mono text-text-inverted;
}

.sandbox-editor textarea:focus-visible {
  outline-color: 1px solid
    var(--navds-semantic-color-component-background-inverted);
}

.sandbox-preview > div:first-child {
  @apply inline-flex w-full flex-wrap items-center justify-center gap-4;
}

.sandbox-preview > pre {
  @apply max-w-full whitespace-pre-wrap font-mono;
}

.skiplink {
  @apply absolute left-0 z-modal -translate-y-full bg-focus p-4 text-text-inverted no-underline focus-within:translate-y-0 focus-within:shadow-[inset_0_0_0_2px_white] focus-within:outline-none;
}

.aksel-main {
  @apply m-0 min-h-screen-header w-screen p-0 focus:outline-none;
}

.aksel-main__inner {
  @apply relative min-h-screen-header w-full px-4 pb-4 focus:outline-none lg:px-12 lg:pb-4 xs:mx-auto xs:my-0 xs:px-6;
}

.aksel-main--center {
  @apply aksel-main__inner;
}

.aksel-main--start {
  @apply aksel-main__inner items-start;
}

.aksel-card-grid {
  @apply grid grid-cols-1 justify-center gap-4 sm:grid-cols-2 sm:gap-6 lg:justify-start xl:grid-cols-3;
}

.aksel-card-grid-col-2 {
  @apply grid grid-cols-1 justify-center gap-4 sm:gap-x-8 sm:gap-y-6 lg:grid-cols-2 lg:justify-start;
}

.table-icon svg {
  vertical-align: middle;
  margin: 0 0.25rem 3px 0.25rem;
}

.inline-code {
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(226 232 240);
  padding: 0.125rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.inline-kbd {
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  padding: 0.125rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 0 0 1px rgb(38, 38, 38);
  @apply text-text;
}
