@tailwind base;

@layer base {
  code,
  pre {
    @apply !font-mono;
  }

  .navds-alert code {
    color: var(--navds-global-color-red-500);
    background-color: transparent;
    padding: 0;
  }

  p {
    @apply max-w-text;
  }
}

/* Improves rendering of images for chrome on Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast !important;
  }
}

/* Unset for Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}
