@tailwind base;

@layer base {
  code,
  pre {
    --font-family-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    @apply !font-mono;
  }
}

/* Improves rendering of images for chrome on Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast !important;
  }
}

/* Unset for Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}

/* Max width for all generic text */
p {
  max-width: var(--text-max-width);
}
