.inverted-textarea {
  --navds-textarea-color-shadow-error: var(--navds-global-color-red-300);
  --navds-textarea-color-border-error: var(--navds-global-color-red-400);
  --navds-error-message-color-text: var(--navds-global-color-red-300);
  --navds-textarea-color-border: var(--navds-semantic-color-border-inverted);
}

.inverted-textfield {
  --navds-text-field-color-shadow-error: var(--navds-global-color-red-300);
  --navds-text-field-color-border-error: var(--navds-global-color-red-400);
  --navds-text-field-color-shadow-error: var(--navds-global-color-red-300);
  --navds-error-message-color-text: var(--navds-global-color-red-300);
}

.inverted-textarea textarea {
  @apply bg-transparent;
}

.inverted-textarea textarea:hover {
  @apply border-blue-200;
}

.inverted-textarea textarea:focus {
  @apply shadow-focus-inverted;
}

html.overflow-hidden > body.ReactModal__Body--open {
  overflow: unset;
}
