.card-grid-flow {
  place-content: start flex-start;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
}

@media (max-width: 1320px) {
  .card-grid-flow {
    grid-template-columns: repeat(3, 18rem);
  }
}

@media (max-width: 956px) {
  .card-grid-flow {
    grid-template-columns: repeat(2, 18rem);
  }
}

@media (max-width: 646px) {
  .card-grid-flow {
    grid-template-columns: repeat(1, 18rem);
  }
}

.reduced-spacing .navds-typo--spacing {
  @apply mb-2;
}

.content-box {
  @apply m-0 w-full max-w-content-w-padding px-4 pb-4 md:my-0 md:mx-auto md:px-6 lg:mx-0 lg:mr-auto lg:px-12 lg:pb-4;
}

.aksel-layout-x {
  @apply max-w-aksel px-4 md:px-6 lg:px-12;
}

/* .aksel-content > .aksel-center-content {
  @apply flex w-full flex-col items-center text-left;
} */
