.stories-sandbox__guidepanel--purple {
  --navds-guide-panel-color-border: var(--navds-global-color-purple-400);
  --navds-guide-panel-color-illustration-background: var(
    --navds-global-color-purple-200
  );
}

.stories-sandbox__guidepanel--green {
  --navds-guide-panel-color-border: var(--navds-global-color-green-400);
  --navds-guide-panel-color-illustration-background: var(
    --navds-global-color-green-200
  );
}

.stories-sandbox-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.stories-sandbox-grow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 12rem;
}

.stories-sandbox-grow > * {
  flex: 1 1 0%;
}
